@model ShopFish.ViewModels.ResetPassword

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-offset-2"></div>
        <aside class="col-md-8">

            <div class="card">
                <article class="card-body">

                    <h4 class="card-title text-center mb-4 mt-1">Đổi mật khẩu</h4><hr>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col-sm-12">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger " })
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-success alert-dismissible fade in pt-100 text-center">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>  @ViewBag.Message</strong>
                            </div>

                        }

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.HiddenFor(a => a.ResetCode)
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đổi mật khẩu" class="btn btn-primary" />
                        </div>
                    </div>
                    </article>
            </div>
            </aside>
        </div>
</div>
            }
